@page
@model Razor_UTC.Pages.Profile.UserProfileModel
@{
}

<section class="container border border-dark">
    <div class="row m-4">
        <div class="col-4">
            <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-primary mb-1" onclick="DisplayUserProfile()">Profile Information</button>
                <button type="button" class="btn btn-primary mb-1">Edit Information</button>
                <button type="button" class="btn btn-primary mb-1">Add Information</button>
                <button type="button" class="btn btn-primary mb-1">Change Password</button>
                <button type="button" class="btn btn-primary mb-1">Delete Information</button>
            </div>
        </div>
        <div class="col-1 border-left"></div> <!-- Vertical line -->
        <div class="col-7 m-2 border-danger" id="userProfileSection">
            <div class="border-danger">

            </div>
            <!-- Your content for col-12 goes here -->
        </div>
    </div>
</section>

<script>   
    var DisplayUserProfile = () => 
    {
        var userprofile = 
        {
            id: '@Html.Raw(Json.Serialize(Model.userInformation.Id))',
            name: '@Html.Raw(Json.Serialize(Model.userInformation.FName + " " + @Model.userInformation.LName))',
            email: '@Html.Raw(Json.Serialize(Model.userInformation.EmailAddress))',
            mobile: '@Html.Raw(Json.Serialize(Model.userInformation.PhoneNumber))'
        };
        displayUserProfileOnUI(userprofile);
    }

    var displayUserProfileOnUI = (userprofile) => {
        var userProfileSection = $("#userProfileSection");

        var userProfileHTML = "<h2>User Profile</h2>";
        userProfileHTML += "<p>Id: " + userprofile.id + "</p>";
        userProfileHTML += "<p>Name: " + userprofile.name + "</p>";
        userProfileHTML += "<p>Email: " + userprofile.email + "</p>";
        userProfileHTML += "<p>Mobile Number: " + userprofile.mobile + "</p>";
        userProfileSection.html(userProfileHTML);
    };
</script>
